.blaze-inspector {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  cursor: default;
}

.blaze-inspector > section {
  flex:3;
  overflow: scroll;
  background-color: yellow;
}

.blaze-inspector > aside {
  flex:1;
  background-color: green;
  max-width: 25%;
  overflow: hidden;
}